<html>
  <head>
    <meta charset="UTF-8" />
    <title>Confirm account</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body style="margin: 0; padding: 0; background-color: #f2f2f2">
    <table
      width="100%"
      cellpadding="0"
      cellspacing="0"
      border="0"
      style="background-color: #f2f2f2; padding: 20px 0"
    >
      <tr>
        <td align="center">
          <table
            width="450"
            cellpadding="0"
            cellspacing="0"
            border="0"
            style="
              background-color: #ffffff;
              border: 1px solid #dddddd;
              padding: 20px;
              font-family: 'Roboto', sans-serif;
              color: #000000;
            "
          >
            <tr>
              <td>
                <table
                  style="border-collapse: collapse; width: 100%; height: 100%"
                >
                  <tr>
                    <td
                      style="
                        font-size: 30px;
                        text-align: left;
                        vertical-align: middle;
                      "
                    >
                      Keep
                    </td>
                    <td
                      style="
                        padding-left: 5px;
                        padding-right: 10px;
                        text-align: right;
                        vertical-align: middle;
                        border-right: 1.5px solid #000;
                      "
                    >
                      Three-tier Architecture
                      <br />
                      Version
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td height="20"></td>
            </tr>
            <tr>
              <td style="font-size: 50px; line-height: 50px">
                Confirm your
                <br />
                account
              </td>
            </tr>
            <tr>
              <td height="20"></td>
            </tr>
            <tr>
              <td style="font-size: 16px; line-height: 22px">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Reiciendis doloremque voluptate quam enim nostrum. Sit numquam
                ipsam, suscipit, minima exercitationem incidunt expedita facere
                ex iusto odit alias ipsum, commodi ipsa?
              </td>
            </tr>
            <tr>
              <td height="20"></td>
            </tr>
            <tr>
              <td
                style="
                  font-size: 48px;
                  letter-spacing: 5px;
                  text-align: center;
                  background-color: #f2f2f2;
                  padding: 20px;
                  border: 1px solid #dddddd;
                "
              >
                {{otp}}
              </td>
            </tr>
            <tr>
              <td height="20"></td>
            </tr>
            <tr>
              <td style="font-size: 16px; line-height: 22px">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Reiciendis doloremque voluptate quam enim nostrum.
              </td>
            </tr>
            <tr>
              <td height="20"></td>
            </tr>
            <tr>
              <td>
                <table cellpadding="0" cellspacing="0" border="0">
                  <tr>
                    <td align="center" bgcolor="#155dfc">
                      <a
                        href="{{domain}}/sign-up/confirm?email={{email}}&otp={{otp}}"
                        target="_blank"
                        style="
                          display: inline-block;
                          padding: 12px 24px;
                          font-size: 16px;
                          color: #ffffff;
                          text-decoration: none;
                        "
                      >
                        Confirm account
                      </a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td height="30"></td>
            </tr>
            <tr>
              <td style="border-top: 1px solid #dddddd"></td>
            </tr>
            <tr>
              <td height="20"></td>
            </tr>
            <tr>
              <td style="font-size: 14px; line-height: 20px">
                If you did not register on our platform, simply delete this
                email.
              </td>
            </tr>
            <tr>
              <td height="20"></td>
            </tr>
            <tr>
              <td style="border-top: 1px solid #dddddd"></td>
            </tr>
            <tr>
              <td height="20"></td>
            </tr>
            <tr>
              <td style="font-size: 14px; line-height: 24px">Specifications</td>
            </tr>
            <tr>
              <td height="2"></td>
            </tr>
            <tr>
              <td style="font-size: 12px; line-height: 20px">
                Template: confirmAccountTemplate.hbs
              </td>
            </tr>
            <tr>
              <td style="font-size: 12px; line-height: 20px">
                Directory: src/views/email
              </td>
            </tr>
            <tr>
              <td style="font-size: 12px; line-height: 20px">
                Author: Carlos Daniel Menchaca Arauz
              </td>
            </tr>
            <tr>
              <td style="font-size: 12px; line-height: 20px">
                Environment: Development
              </td>
            </tr>
            <tr>
              <td style="font-size: 12px; line-height: 20px">
                Date: 12/10/2024
              </td>
            </tr>
            <tr>
              <td height="20"></td>
            </tr>
            <tr>
              <td style="border-top: 1px solid #dddddd"></td>
            </tr>
            <tr>
              <td height="20"></td>
            </tr>
            <tr>
              <td
                style="font-size: 12px; line-height: 20px; text-align: center"
              >
                &copy; 2024 Keep Three-tier Architecture. All rights reserved.
              </td>
            </tr>
            <tr>
              <td
                style="font-size: 12px; line-height: 20px; text-align: center"
              >
                <a
                  href="https://github.com/iamcarlosdaniel/keep-server-api-three-tier"
                  style="color: #155dfc"
                  >iamcarlosdaniel/keep-server-api-three-tier</a
                >
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
