<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nota compartida</title>
  </head>
  <body>
    <p>
      El usuario
      <strong>{{firstName}}</strong>
      ha compartido una nota contigo:
      <a
        href="http://localhost:8000/notes/note.html?id={{noteId}}"
        target="_blank"
        rel="noopener noreferrer"
      >
        Ver nota compartida
      </a>
    </p>
  </body>
</html>