<html>
  <head>
    <meta charset="UTF-8" />
    <title>Welcome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body style="margin: 0; padding: 0; background-color: #f2f2f2">
    <table
      width="100%"
      cellpadding="0"
      cellspacing="0"
      border="0"
      style="background-color: #f2f2f2; padding: 20px 0"
    >
      <tr>
        <td align="center">
          <table
            width="450"
            cellpadding="0"
            cellspacing="0"
            border="0"
            style="
              background-color: #ffffff;
              border: 1px solid #dddddd;
              padding: 20px;
              font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
              color: #212529;
            "
          >
            <tr>
              <td>
                <table style="border-collapse: collapse">
                  <tr>
                    <td style="font-size: 30px; vertical-align: middle">
                      Keep
                    </td>
                    <td style="padding-left: 5px; vertical-align: middle">
                      <img
                        src="https://parspng.com/wp-content/uploads/2021/11/hearpng.parspng.com_.png"
                        alt=""
                        width="30px"
                      />
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td height="20"></td>
            </tr>
            <tr>
              <td style="font-size: 50px; line-height: 60px">
                Thank
                <br />
                you!
              </td>
            </tr>
            <tr>
              <td height="20"></td>
            </tr>
            <tr>
              <td style="font-size: 16px; line-height: 24px">
                We are pleased to have you here!. We have everything you need to
                effectively organize your ideas.
              </td>
            </tr>
            <tr>
              <td height="20"></td>
            </tr>
            <tr>
              <td style="font-size: 18px; line-height: 24px">
                Would you like to create your first note?
              </td>
            </tr>
            <tr>
              <td height="10"></td>
            </tr>
            <tr>
              <td>
                <table cellpadding="0" cellspacing="0" border="0">
                  <tr>
                    <td align="center" bgcolor="#0d6efd">
                      <a
                        href="{{domain}}/sign-in"
                        target="_blank"
                        style="
                          display: inline-block;
                          padding: 12px 24px;
                          font-size: 16px;
                          color: #ffffff;
                          text-decoration: none;
                        "
                      >
                        Sign in
                      </a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td height="30"></td>
            </tr>
            <tr>
              <td style="border-top: 1px solid #dddddd"></td>
            </tr>
            <tr>
              <td height="20"></td>
            </tr>
            <tr>
              <td style="font-size: 18px; line-height: 24px">
                Do you have questions?
              </td>
            </tr>
            <tr>
              <td height="10"></td>
            </tr>
            <tr>
              <td style="font-size: 16px; line-height: 20px">
                We are here to assist you.
                <a
                  href="https://github.com/iamcarlosdaniel/keep-api-three-tier"
                >Learn more</a>
                about Keep here or contact us.
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>